<launch>
	<node pkg="stage" type="stageros_Project2" name="stageros" args="$(find stage)/bin/Project2Sample.world" /> 
	<node pkg="Project2Sample" name="sim0" type="R0"/>
	<node pkg="Project2Sample" name="sim1" type="R1"/>
	<node pkg="Project2Sample" name="sim2" type="R2"/>
	<node pkg="Project2Sample" name="sim3" type="R3"/>
	<node pkg="Project2Sample" name="sim4" type="R4"/>
	<node pkg="Project2Sample" name="sim5" type="R5"/>

</launch>

